---
layout: page
title: Projects
---
<section class="list">
    {% for post in site.posts %}
        {% if post.projects %}
    
               <div class="item {% if post.star %}star{% endif %}">
                    <a class="url" href="https://github.com/gabriellemalate/MoodMemory">
                        <h3 class="title">MoodMemory</h3>
						<aside>mood tracking that graphs user mood levels</aside> 
						<aside>React - SCSS - Javascript - Firebase - Node</aside>
                    </a>
                </div>
				<div class="item {% if post.star %}star{% endif %}">
                    <a class="url" href="https://github.com/gabriellemalate/Camera-App">
                        <h3 class="title">Mobile Camera App - iOS & Android</h3>
						<aside>React Native - Expo CLI - Hermes engine</aside>
                    </a>
                </div>
				<div class="item {% if post.star %}star{% endif %}">
                    <a class="url" href="https://github.com/gabriellemalate/React-Native_Meditation-App">
                        <h3 class="title">Mobile Meditations - iOS & Android</h3>
						<aside>Features : Adjustable Timer, Audio, Scrollable Gallery </aside>
							<aside>React Native - NativeWind - Typescript - Javascript</aside>
                    </a>
                </div>
				<div class="item {% if post.star %}star{% endif %}">
                    <a class="url" href="https://github.com/gabriellemalate/WarehouseStock-Client">
                        <h3 class="title">WarehouseStock</h3>
						<aside>Collaborative project | Stock Tracking Warehouse Site</aside>
						<aside>React - MySQL - Express - Knex - Node - Jira</aside>
                    </a>
                </div>
				<div class="item {% if post.star %}star{% endif %}">
                    <a class="url" href="https://github.com/gabriellemalate/Ocean-Oracle">
                        <h3 class="title">OceanOracle Cruise Quiz</h3>
						<aside>Pitch for Royal Caribbean's "New to Cruise" feature</aside>
						<aside>React - SCSS - CSS</aside>
                    </a>
                </div>
				<div class="item {% if post.star %}star{% endif %}">
                    <a class="url" href="https://github.com/gabriellemalate/InstagramClone">
                        <h3 class="title">React Native - Social Media Clone</h3>
						<aside>React - SCSS - CSS</aside>
						<aside>React Native - Expo - Redux - Firebase - Typescript</aside>
                    </a>
                </div>
<!--
                <ul>
						<li><a href="https://github.com/gabriellemalate/MoodMemory">MoodMemory</a></li>
						<li><a href="https://github.com/gabriellemalate/Camera-App">
							Mobile Camera App - iOS & Android
						</a></li>
						<li><a href="https://github.com/gabriellemalate/WarehouseStock-Client">WarehouseStock</a></li>
						<li><a href="https://github.com/gabriellemalate/React-Native_Meditation-App">React Native - Meditations</a></li>
						<li><a href="https://github.com/gabriellemalate/Ocean-Oracle">OceanOracle Cruise Quiz</a></li>
						<li><a href="https://github.com/gabriellemalate/InstagramClone">React Native - Social Media Clone</a></li>
                </ul> -->

        {% endif %}
    {% endfor %}
</section>
