---
layout: page
title: Projects
---
<section class="list">
    {% for post in site.posts %}
        {% if post.projects %}

		<h3>React</h3>
               <div class="item {% if post.star %}star{% endif %}">
                    <a class="url" href="https://github.com/gabriellemalate/MoodMemory">
                        <h3 class="title">MoodMemory</h3>
						<p>mood tracking that graphs user mood levels</p> 
						<p>React - SCSS - Javascript - Firebase - Node</p>
                    </a>
                </div>
				<div class="item {% if post.star %}star{% endif %}">
                    <a class="url" href="https://github.com/gabriellemalate/WarehouseStock-Client">
                        <h3 class="title">WarehouseStock</h3>
						<p>Client & Server | Collaborative project | Stock Tracking Warehouse Site</p>
						<p>React - MySQL - Express - Knex - Node - Jira</p>
                    </a>
                </div>
				<div class="item {% if post.star %}star{% endif %}">
                    <a class="url" href="https://github.com/gabriellemalate/Ocean-Oracle">
                        <h3 class="title">OceanOracle Cruise Quiz</h3>
						<p>Pitch for Royal Caribbean's "New to Cruise" feature</p>
						<p>React - SCSS - CSS - Figma</p>
                    </a>
                </div>

		<h3>React Native</h3>
				<div class="item {% if post.star %}star{% endif %}">
                    <a class="url" href="https://github.com/gabriellemalate/Camera-App">
                        <h3 class="title">Mobile Camera App - iOS & Android</h3>
						<p>React Native - Expo CLI - Hermes engine</p>
                    </a>
                </div>
				<div class="item {% if post.star %}star{% endif %}">
                    <a class="url" href="https://github.com/gabriellemalate/React-Native_Meditation-App">
                        <h3 class="title">Mobile Meditations - iOS & Android</h3>
						<p>Features : Adjustable Timer, Audio, Scrollable Gallery </p>
						<p>React Native - NativeWind - Typescript - Javascript</p>
                    </a>
                </div>
				
				<div class="item {% if post.star %}star{% endif %}">
                    <a class="url" href="https://github.com/gabriellemalate/InstagramClone">
                        <h3 class="title">Social Media Clone</h3>
						<p>React Native - Expo - Redux - Firebase - Typescript</p>
                    </a>
                </div>
	
		<h3>Python</h3>
				<div class="item {% if post.star %}star{% endif %}">
                    <a class="url" href="">
                        <h3 class="title">AI Article Generator</h3>
						<p>PostgreSQL - Django - Python - TailwindCSS</p>
                    </a>
                </div>

				<div class="item {% if post.star %}star{% endif %}">
                    <a class="url" href="">
                        <h3 class="title">Music Streaming Platform</h3>
						<p>PostgreSQL - Django - Python - TailwindCSS</p>
                    </a>
                </div>

				<div class="item {% if post.star %}star{% endif %}">
                    <a class="url" href="">
                        <h3 class="title">Netflix Clone</h3>
						<p>PostgreSQL - Django - Python - TailwindCSS</p>
                    </a>
                </div>

		<h3>Angular</h3>
					<div class="item {% if post.star %}star{% endif %}">
	                    <a class="url" href="">
	                        <h3 class="title">Chat Bot</h3>
							<p>Angular - Supabase</p>
	                    </a>
	                </div>
					<div class="item {% if post.star %}star{% endif %}">
	                    <a class="url" href="">
	                        <h3 class="title">Image Text Reader</h3>
							<p>Angular - Azure</p>
	                    </a>
	                </div>
					<div class="item {% if post.star %}star{% endif %}">
	                    <a class="url" href="">
	                        <h3 class="title">Poll Creator</h3>
							<p>Angular - ASP.NET Core - Entity</p>
	                    </a>
	                </div>
<!--
                <ul>
						<li><a href=""></a></li>
						<li><a href="https://github.com/gabriellemalate/MoodMemory">MoodMemory</a></li>
						<li><a href="https://github.com/gabriellemalate/Camera-App">
							Camera Mobile App - iOS & Android
						</a></li>
						<li><a href="https://github.com/gabriellemalate/WarehouseStock-Client">WarehouseStock</a></li>
						<li><a href="https://github.com/gabriellemalate/stream-tube">StreamTube UI</a></li>
						<li><a href="https://github.com/gabriellemalate/React-Native_Meditation-App">React Native - Meditations</a></li>
						<li><a href="https://github.com/gabriellemalate/Ocean-Oracle">OceanOracle Cruise Quiz</a></li>
						<li><a href="https://github.com/gabriellemalate/InstagramClone">React Native - Social Media Clone</a></li>
						<li><a href="https://github.com/gabriellemalate/React-Native_Mobile-Quiz-App">React Native - Web Dev Mobile Quiz</a></li>
						<li><a href="">Video Streaming Service</a></li>
						<li><a href="">Android News App</a></li>
						<li><a href="">Music Streaming Service</a></li>
                </ul> -->

        {% endif %}
    {% endfor %}
</section>
